.button {
  position: absolute;
  top: 0;
  right: 0;

  width: 120px;
  height: 40px;
  border-radius: 9999px;
  cursor: pointer;
  overflow: hidden;
  $accent-color: #c9fd74;

  .slider {
    position: relative;
    width: 100%;
    height: 100%;

    .text {
      width: 100%;
      height: 100%;

      background-color: $accent-color;
      color: hsl(var(--background));

      &:nth-of-type(2) {
        background-color: hsl(var(--background));
        color: $accent-color;
      }

      &:hover {
        .perspectiveText {
          transform: rotateX(-90deg);

          p {
            &:nth-of-type(1) {
              transform: translateY(-100%);
              opacity: 0;
            }

            &:nth-of-type(2) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.perspectiveText {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);

  p {
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);

    &:nth-of-type(2) {
      position: absolute;
      transform: rotateX(90deg) translateY(9px);
      transform-origin: bottom center;
      opacity: 0;
    }
  }
}
