@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  @apply scroll-smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container-me {
  @apply w-full sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px];
}

.container-default {
  @apply container mx-auto px-4;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #043d5d;
  --gradient-color-2: #032e46;
  --gradient-color-3: #23b684;
  --gradient-color-4: #0f595e;
}

.socials svg:hover {
  @apply text-secondary scale-125;
}

.socials svg:active {
  @apply text-secondary scale-95;
}

.input-group {
  @apply flex flex-col mb-4;
}

.input-group label {
  @apply mb-1;
}

.input-group input,
.input-group textarea {
  @apply bg-primary py-2 px-4;
}
